<div class="container">
  <app-products>
    <h1 class="title">hello one</h1>
    <button class="btn">show more one!</button>
  </app-products>
  <app-products>
    <h1 class="title">hello two...</h1>
    <button class="btn">show more two!</button>
  </app-products>
  <app-products>
    <h1 class="title">hello three...</h1>
    <button class="btn">show more three!</button>
  </app-products>
  <app-products>
    <h1 class="title">hello four...</h1>
    <button class="btn">show more four!</button>
  </app-products>
</div>
